/* font-family: 'Montserrat', sans-serif;
font-family: 'Rancho', cursive; */
*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background:white;
    min-height:1200px;
    overflow-x: hidden;
    color: rgb(14,74,101);
    
}
a{
    text-decoration:none;
    color: rgb(14,74,101);
}
section{
    position : relative;
    width : 100%;
    height : 100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
section::before{
    position : absolute;
    bottom:0;
    z-index: 3;
    content:"";
    width:100vw;
    height: 150px;
    background:linear-gradient(transparent, rgb(1,81,100));
}
section img{
    position:absolute;
    top: 0;
    left: 0;
    width : 100vw;
    height: 100%;
    object-fit:cover;
}
section text{
    position:absolute;
    top: 230px;
    left: 0;
    width : 100vw;
    object-fit:cover;
    text-align: center;
    font-size:2em;
    z-index: 1;

}
section text div{
    font-size:4em;
    font-family: 'Rancho', cursive;
}
header{
    display:flex;
    justify-content:space-between;
    height:10vh;
    align-items:center;
    padding:10px 40px;
    z-index: 1000;
}
header div{
    margin-left: 20px;
    font-size: 2.2em;
    text-transform:uppercase;
    font-weight:900;
    letter-spacing: 1px;
}
header ul{
    width: 30vw;
}
header ul li{
    display:inline-block; 
    font-size: 1.1em;  
}
header ul li a {
    padding:6px 15px;
    margin-left: 5px;
    border-radius: 20px;
}
.active{
    color:white;
    background-color:rgb(14,74,101);
}
header ul li a:hover{
    color:white;
    background-color:rgb(14,74,101);
}
#btn{
    position:absolute;
    top:400px;
    z-index: 1000;
    letter-spacing: 2px;
    text-decoration:none;
    color:rgb(14,74,101);
    padding:7px 15px;
    background-color:white;
    border-radius:20px;
    font-size: 1.5em;
    border-style: none;
    transform:translateY(100px)
}
#btn:hover{
    background-color:rgb(14,74,101);
    color:white;
    border-radius:20px;
}
#sec{
    position :relative;
    padding: 100px;
    background: rgb(1,81,100);
    z-index: 4;
}
#sec h2{
    font-size:3.5em;
    margin-top: 10px;
    color:#fff;
}
#sec p{
    font-size:1.2em;
    color:#fff;
    padding-top:30px;
}
#forest{
    z-index: 2;
}
#rocks{
    z-index: 3;
}
#water{
    z-index: 4;
}